@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Nunito;
}
.display-1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3.125rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5rem;
}
.display-2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.375rem;
  line-height: 1.1;
}
.display-5 > .mbr-iconfont {
  font-size: 2.2rem;
}
.display-7 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1875rem;
    font-size: calc( 1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.1rem;
    font-size: calc( 1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 8px;
}
.btn-lg {
  padding: 20px 30px;
  border-radius: 8px;
}
.bg-primary {
  background-color: #848abd !important;
}
.bg-success {
  background-color: #9ccd7e !important;
}
.bg-info {
  background-color: #999999 !important;
}
.bg-warning {
  background-color: #b97ecd !important;
}
.bg-danger {
  background-color: #d75959 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #848abd !important;
  border-color: #848abd !important;
  color: #ffffff !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #555d9f !important;
  border-color: #555d9f !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #3c71d3 !important;
  border-color: #3c71d3 !important;
  color: #ffffff !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #244f9f !important;
  border-color: #244f9f !important;
}
.btn-info,
.btn-info:active {
  background-color: #999999 !important;
  border-color: #999999 !important;
  color: #ffffff !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #737373 !important;
  border-color: #737373 !important;
}
.btn-success,
.btn-success:active {
  background-color: #9ccd7e !important;
  border-color: #9ccd7e !important;
  color: #ffffff !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #72b747 !important;
  border-color: #72b747 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #b97ecd !important;
  border-color: #b97ecd !important;
  color: #ffffff !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b47b7 !important;
  border-color: #9b47b7 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #d75959 !important;
  border-color: #d75959 !important;
  color: #ffffff !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b72c2c !important;
  border-color: #b72c2c !important;
}
.btn-white {
  color: #404040 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #848abd;
  color: #848abd;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #848abd;
  border-color: #848abd;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #848abd !important;
  border-color: #848abd !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #3c71d3;
  color: #3c71d3;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #3c71d3;
  border-color: #3c71d3;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3c71d3 !important;
  border-color: #3c71d3 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #999999 !important;
  border-color: #999999 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #9ccd7e;
  color: #9ccd7e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #9ccd7e;
  border-color: #9ccd7e;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9ccd7e !important;
  border-color: #9ccd7e !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #b97ecd;
  color: #b97ecd;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #b97ecd;
  border-color: #b97ecd;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b97ecd !important;
  border-color: #b97ecd !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #d75959;
  color: #d75959;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #d75959;
  border-color: #d75959;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #d75959 !important;
  border-color: #d75959 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #848abd !important;
}
.text-secondary {
  color: #3c71d3 !important;
}
.text-success {
  color: #9ccd7e !important;
}
.text-info {
  color: #999999 !important;
}
.text-warning {
  color: #b97ecd !important;
}
.text-danger {
  color: #d75959 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #c6c9e1 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #8faee6 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d4e9c8 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #e1c8e9 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #ebabab !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #999999;
}
.alert-warning {
  background-color: #b97ecd;
}
.alert-danger {
  background-color: #d75959;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 0 0 5px rgba(132, 138, 189, 0.5) !important;
  -webkit-box-shadow: 0 0 0 5px rgba(132, 138, 189, 0.5) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #848abd;
  border-color: #848abd;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #848abd;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d7d9ea;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d9d9d9;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fffdfd;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #848abd;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 0 0 5px rgba(132, 138, 189, 0.5);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 0 0 5px rgba(132, 138, 189, 0.5);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #848abd;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #848abd;
  border-bottom-color: #848abd;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #848abd !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #3c71d3 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23848abd' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sbpp4CkNj2 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sbpp4CkNj2 nav.navbar {
  position: fixed;
}
.cid-sbpp4CkNj2 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sbpp4CkNj2 .dropdown-menu {
  padding: 0;
}
.cid-sbpp4CkNj2 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sbpp4CkNj2 .dropdown-item:hover,
.cid-sbpp4CkNj2 .dropdown-item:focus {
  background: #848abd !important;
  color: white !important;
}
.cid-sbpp4CkNj2 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-sbpp4CkNj2 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sbpp4CkNj2 .nav-link {
  position: relative;
}
.cid-sbpp4CkNj2 .container {
  display: flex;
  margin: auto;
}
.cid-sbpp4CkNj2 .iconfont-wrapper {
  color: #d75959 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sbpp4CkNj2 .navbar-caption {
  padding-right: 4rem;
}
.cid-sbpp4CkNj2 .dropdown-menu,
.cid-sbpp4CkNj2 .navbar.opened {
  background: #fafafa !important;
}
.cid-sbpp4CkNj2 .nav-item:focus,
.cid-sbpp4CkNj2 .nav-link:focus {
  outline: none;
}
.cid-sbpp4CkNj2 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sbpp4CkNj2 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sbpp4CkNj2 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sbpp4CkNj2 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sbpp4CkNj2 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sbpp4CkNj2 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sbpp4CkNj2 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #fafafa;
}
.cid-sbpp4CkNj2 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sbpp4CkNj2 .navbar.opened {
  transition: all .3s;
}
.cid-sbpp4CkNj2 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-sbpp4CkNj2 .navbar .navbar-logo img {
  width: auto;
}
.cid-sbpp4CkNj2 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
  display: none !important;
}
.cid-sbpp4CkNj2 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sbpp4CkNj2 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sbpp4CkNj2 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5.2rem);
  }
}
.cid-sbpp4CkNj2 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sbpp4CkNj2 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sbpp4CkNj2 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sbpp4CkNj2 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sbpp4CkNj2 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sbpp4CkNj2 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-sbpp4CkNj2 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sbpp4CkNj2 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sbpp4CkNj2 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sbpp4CkNj2 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sbpp4CkNj2 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sbpp4CkNj2 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sbpp4CkNj2 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sbpp4CkNj2 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sbpp4CkNj2 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sbpp4CkNj2 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sbpp4CkNj2 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-sbpp4CkNj2 .navbar.navbar-short {
  min-height: 60px;
}
.cid-sbpp4CkNj2 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sbpp4CkNj2 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sbpp4CkNj2 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sbpp4CkNj2 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sbpp4CkNj2 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sbpp4CkNj2 .dropdown-item.active,
.cid-sbpp4CkNj2 .dropdown-item:active {
  background-color: transparent;
}
.cid-sbpp4CkNj2 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sbpp4CkNj2 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sbpp4CkNj2 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sbpp4CkNj2 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fafafa;
}
.cid-sbpp4CkNj2 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sbpp4CkNj2 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sbpp4CkNj2 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sbpp4CkNj2 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sbpp4CkNj2 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-sbpp4CkNj2 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-sbpp4CkNj2 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sbpp4CkNj2 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sbpp4CkNj2 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sbpp4CkNj2 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sbpp4CkNj2 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sbpp4CkNj2 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sbpp4CkNj2 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sbpp4CkNj2 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sbpp4CkNj2 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-sbpp4CkNj2 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sbpp4CkNj2 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sbpp4CkNj2 .navbar {
    height: 77px;
  }
  .cid-sbpp4CkNj2 .navbar.opened {
    height: auto;
  }
  .cid-sbpp4CkNj2 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sbppcpsLZI {
  background-image: url("../../../assets/images/instantaneu-6-6-28-2018-10-21-am-616x347.png");
}
.cid-sbppcpsLZI .mbr-section-title {
  color: #bbbbbb;
  text-align: right;
}
.cid-sbppcpsLZI .mbr-text,
.cid-sbppcpsLZI .mbr-section-btn {
  color: #bbbbbb;
  text-align: right;
}
.cid-sbppcpsLZI .mbr-section-subtitle {
  text-align: right;
}
.cid-sbpq3Ka8Bi {
  background-color: #ffffff;
}
.cid-sbpq3Ka8Bi .mbr-section-title {
  color: #999999;
  text-align: right;
}
.cid-sbpq3Ka8Bi .mbr-text,
.cid-sbpq3Ka8Bi .mbr-section-btn {
  color: #d75959;
  text-align: right;
}
.cid-sbpwqDv5Q9 {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/29351619-10214544554501106-5527968896031641640-o-2000x1337.jpeg");
}
.cid-sbpwqDv5Q9 .timeline-element {
  position: relative;
}
.cid-sbpwqDv5Q9 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sbpwqDv5Q9 .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #6592e6;
  top: 30px;
  margin-left: -9px;
}
@media (max-width: 767px) {
  .cid-sbpwqDv5Q9 .iconBackground {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-sbpwqDv5Q9 .iconBackground {
    left: 50%;
  }
}
.cid-sbpwqDv5Q9 .row {
  flex-direction: row-reverse;
}
.cid-sbpwqDv5Q9 .row:after {
  content: "";
  position: absolute;
  background-color: #6592e6;
  width: 2px;
  top: 50px;
  height: calc(100% - 10px);
}
@media (max-width: 767px) {
  .cid-sbpwqDv5Q9 .row:after {
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-sbpwqDv5Q9 .row:after {
    left: 50%;
  }
}
.cid-sbpwqDv5Q9 .row:nth-child(even) .mbr-timeline-date {
  text-align: right;
}
@media (max-width: 767px) {
  .cid-sbpwqDv5Q9 .row:nth-child(even) {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .cid-sbpwqDv5Q9 .timeline-date-wrapper,
  .cid-sbpwqDv5Q9 .timeline-text-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-sbpwqDv5Q9 .mbr-timeline-date {
    text-align: left !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sbpwqDv5Q9 .timeline-date-wrapper,
  .cid-sbpwqDv5Q9 .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sbpwqDv5Q9 .timeline-date-wrapper,
  .cid-sbpwqDv5Q9 .timeline-text-wrapper {
    padding: 2rem;
  }
}
.cid-sbpwqDv5Q9 .mbr-section-title {
  color: #f9fafb;
  text-align: right;
}
.cid-sbpwqDv5Q9 .mbr-timeline-title {
  color: #ffffff;
}
.cid-sbpwqDv5Q9 .mbr-timeline-date {
  color: #e6eaf1;
}
.cid-sbpwqDv5Q9 .mbr-text {
  color: #e6eaf1;
}
.cid-sbpwv0ynX3 {
  padding-top: 7rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sbpwv0ynX3 .mbr-section-title {
  color: #bbbbbb;
}
.cid-sbpwv0ynX3 .mbr-text,
.cid-sbpwv0ynX3 .link {
  color: #bbbbbb;
  text-align: center;
}
.cid-sbpwv0ynX3 .card-title,
.cid-sbpwv0ynX3 .card-box {
  text-align: center;
}
.cid-sbpwwevrs9 {
  padding-top: 7rem;
  padding-bottom: 9rem;
  background-image: url("../../../assets/images/care-for-others-girls-1.jpeg");
}
.cid-sbpwwevrs9 .mbr-text,
.cid-sbpwwevrs9 .link {
  color: #bbbbbb;
  text-align: left;
}
.cid-sbpwwevrs9 .card-title,
.cid-sbpwwevrs9 .card-box {
  color: #ffffff;
  text-align: center;
}
.cid-sbq3wByekW {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f9fafb;
}
.cid-sbq3wByekW iframe {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.cid-sbq3wByekW .container-fluid {
  padding: 0;
}
.cid-sbq3wByekW .sc__title {
  color: #d75959;
}
.cid-sbpwxzIX0h {
  padding-top: 10rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sbpwxzIX0h img {
  width: 120px;
  margin: auto;
}
.cid-sbpwxzIX0h .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sbpwxzIX0h .card {
    max-width: 12.5%;
  }
}
.cid-sbpwxzIX0h .mbr-text {
  color: #bbbbbb;
}
